// GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// COLOURS

$color-main-red: #db2525;
$color-light-red-1: #ff8c8c;
$color-light-red-2: #ff6161;
$color-text-grey: rgb(59, 59, 59);
$color-light-grey-1: rgb(250, 250, 250);

$color-main-green: rgb(0, 208, 0);
$color-light-green-1: rgb(136, 255, 0);
