@-webkit-keyframes expandElement {
  0% {
    width: 2%;
  }
  100% {
    width: 30%;
  }
}

@keyframes expandElement {
  0% {
    width: 2%;
  }
  100% {
    width: 30%;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 75em) {
  html {
    font-size: 57.5%;
  }
}

@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 37.5em) {
  html {
    font-size: 45%;
  }
}

@media (max-width: 18.75em) {
  html {
    font-size: 35%;
  }
}

@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1rem;
}

.primary__title {
  font-size: 12rem;
  color: white;
  font-weight: 400;
  text-align: center;
}

@media (max-width: 75em) {
  .primary__title {
    font-size: 10rem;
  }
}

@media (max-width: 56.25em) {
  .primary__title {
    font-size: 8rem;
  }
}

.secondary__title {
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
}

.tertiary__title {
  font-size: 2.2rem;
  text-transform: uppercase;
}

.main-text {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  line-height: 2.8rem;
  font-weight: 600;
  color: #3b3b3b;
}

.small-text {
  font-size: 1.6rem;
  color: #3b3b3b;
}

.about__container--text {
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 400;
  color: #3b3b3b;
  text-align: center;
  border-radius: 0.5rem;
  padding: 2rem;
  -webkit-box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.1);
}

.center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.align {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.center-text {
  text-align: center;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 56.25em) {
  .display-block {
    display: block !important;
  }
}

@media (max-width: 37.5em) {
  .display-block-phone {
    display: block !important;
  }
}

.display-inline-block {
  display: inline-block;
}

.justify-text {
  text-align: justify;
}

.position-relative {
  position: relative;
}

.height-auto {
  overflow: none;
}

.text-white {
  color: white;
}

.margin-top-large {
  margin-top: 8rem;
}

@media (max-width: 56.25em) {
  .margin-top-large {
    margin-top: 6rem;
  }
}

.margin-top-med {
  margin-top: 6rem;
}

.margin-top-small {
  margin-top: 4rem;
}

.margin-top-very-small {
  margin-top: 2rem;
}

.margin-bottom-large {
  margin-bottom: 8rem;
}

@media (max-width: 56.25em) {
  .margin-bottom-large {
    margin-bottom: 6rem;
  }
}

.margin-bottom-med {
  margin-bottom: 6rem;
}

.margin-bottom-small {
  margin-bottom: 4rem;
}

.margin-bottom-very-small {
  margin-bottom: 2rem;
}

.padding-top-large {
  padding-top: 8rem;
}

.padding-top-med {
  padding-top: 6rem;
}

.padding-top-small {
  padding-top: 4rem;
}

.padding-bottom-large {
  padding-bottom: 8rem;
}

.padding-bottom-med {
  padding-bottom: 6rem;
}

.padding-bottom-small {
  padding-bottom: 4rem;
}

.white-border {
  border: 0.1rem white solid;
}

.line::after {
  content: "";
  display: inline-block;
  background-color: #3b3b3b;
  height: 15rem;
  width: 0.1rem;
}

.btn-cta {
  padding: 2rem 6rem;
  font-size: 2.2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  background-color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn-cta:hover {
  background-color: #db2525;
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.5);
          box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.5);
  color: white;
}

.btn-cta:active {
  color: black;
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
  -webkit-box-shadow: none;
          box-shadow: none;
}

.about__container:not(:last-of-type):after {
  content: "";
  display: block;
  margin: 2rem auto;
  width: 0.1rem;
  height: 12rem;
  background-color: #3b3b3b;
}

.mechanism {
  padding: 1.5rem;
}

.mechanism:not(:last-of-type) {
  margin-bottom: -5.9rem;
}

.mechanism__number-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 10rem;
}

@media (max-width: 37.5em) {
  .mechanism__number-left {
    display: none;
  }
}

.mechanism__number-left--text {
  font-size: 2.5rem;
  font-weight: 600;
  color: #3b3b3b;
}

.mechanism__info-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 10rem;
  padding: 2rem;
  border: none;
  border-radius: 1rem;
  -webkit-box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.2);
          box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.2);
}

@media (max-width: 56.25em) {
  .mechanism__info-left {
    height: 12rem;
  }
}

@media (max-width: 37.5em) {
  .mechanism__info-left {
    margin-bottom: 5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.mechanism__info-left--icon {
  font-size: 6rem;
  margin-left: 2rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#db2525), to(#ff8c8c));
  background-image: linear-gradient(to right, #db2525, #ff8c8c);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@media (max-width: 56.25em) {
  .mechanism__info-left--icon {
    font-size: 6rem;
  }
}

.mechanism__info-left--text {
  font-size: 1.8rem;
  color: #3b3b3b;
}

.mechanism__connect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 37.5em) {
  .mechanism__connect {
    display: none;
  }
}

.mechanism__connect::before {
  content: "";
  display: inline-block;
  background-color: #3b3b3b;
  height: 1.5rem;
  width: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 4rem;
  border-radius: 100%;
}

.mechanism__number-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 10rem;
}

@media (max-width: 37.5em) {
  .mechanism__number-right {
    display: none;
  }
}

.mechanism__number-right--text {
  font-size: 2.5rem;
  font-weight: 600;
  color: #3b3b3b;
}

.mechanism__info-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 10rem;
  padding: 2rem;
  border: none;
  border-radius: 1rem;
  -webkit-box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.2);
          box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.2);
}

@media (max-width: 56.25em) {
  .mechanism__info-right {
    height: 12rem;
  }
}

@media (max-width: 37.5em) {
  .mechanism__info-right {
    margin-bottom: 6rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.mechanism__info-right--icon {
  font-size: 6rem;
  margin-right: 2rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#db2525), to(#ff8c8c));
  background-image: linear-gradient(to right, #db2525, #ff8c8c);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@media (max-width: 56.25em) {
  .mechanism__info-right--icon {
    font-size: 5rem;
  }
}

.mechanism__info-right--text {
  font-size: 1.8rem;
  color: #3b3b3b;
}

.navigation {
  width: 100%;
}

.navigation__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 75em) {
  .navigation__list {
    display: block;
    margin-top: 2rem;
  }
}

.navigation__item {
  text-align: center;
}

@media (max-width: 75em) {
  .navigation__item:not(:last-of-type) {
    margin-bottom: 1rem;
  }
}

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 3rem;
  text-transform: uppercase;
  color: black;
  letter-spacing: 0.15rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navigation__link:hover, .navigation__link:active {
  color: #db2525;
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
}

.navigation__logo {
  height: 10rem;
  width: 10rem;
}

.navigation::after {
  content: "";
  display: block;
  height: 0.2rem;
  background-color: black;
  color: black;
  width: 100%;
}

.qualities {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0.1rem #3b3b3b solid;
  border-radius: 1rem;
}

@media (max-width: 56.25em) {
  .qualities {
    border: none;
  }
}

.qualities__list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
}

@media (max-width: 56.25em) {
  .qualities__list {
    display: block;
    width: 80%;
    padding: 1rem;
  }
}

.qualities__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 56.25em) {
  .qualities__item:not(:last-of-type) {
    margin-bottom: 1rem;
  }
}

@media (max-width: 56.25em) {
  .qualities__item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: 0.1rem #3b3b3b solid;
    border-radius: 1rem;
    padding: 1rem;
  }
}

.qualities__icon {
  font-size: 6rem;
  margin-right: 1rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#db2525), to(#ff8c8c));
  background-image: linear-gradient(to right, #db2525, #ff8c8c);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.qualities__text {
  color: black;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
}

.card {
  border: none;
  -webkit-box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.3);
          box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.3);
  padding: 2rem;
  width: 100%;
  height: 100%;
  background-color: white;
}

@media (max-width: 56.25em) {
  .card {
    display: block;
    width: 95%;
    margin: 0 auto;
  }
}

.card__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2rem;
  border-bottom: 0.1rem black solid;
}

@media (max-width: 56.25em) {
  .card__heading {
    padding-bottom: 1rem;
  }
}

.card__heading--icon {
  font-size: 4rem;
  margin-right: 2rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#db2525), to(#ff8c8c));
  background-image: linear-gradient(to right, #db2525, #ff8c8c);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
}

.check__icon {
  font-size: 4rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#00d000), to(#88ff00));
  background-image: linear-gradient(to right, #00d000, #88ff00);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.solution {
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.solution__text {
  font-size: 1.6rem;
  font-weight: 600;
  color: #3b3b3b;
}

.steps-card {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.3);
          box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
}

@media (max-width: 56.25em) {
  .steps-card {
    width: 90%;
    margin: 0 auto;
    padding: 2rem;
  }
}

.steps-card:not(:last-of-type) {
  margin-bottom: 2rem;
}

@media (max-width: 56.25em) {
  .steps-card:not(:last-of-type) {
    margin-bottom: 4rem;
  }
}

.steps-card__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1rem;
}

.steps-card__paragraph {
  font-size: 1.6rem;
  margin-top: 1rem;
}

@media (max-width: 56.25em) {
  .steps-card__paragraph {
    font-size: 1.8rem;
  }
}

.steps-card__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
}

@media (max-width: 56.25em) {
  .steps-card__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.steps-card__icon {
  font-size: 4.5rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#db2525), to(#ff8c8c));
  background-image: linear-gradient(to right, #db2525, #ff8c8c);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.why__point {
  padding: 1rem;
}

@media (max-width: 56.25em) {
  .why__point {
    margin-bottom: 4rem;
  }
}

.why__symbol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.why__icon {
  font-size: 10rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#db2525), to(#ff8c8c));
  background-image: linear-gradient(to right, #db2525, #ff8c8c);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.why__text {
  margin-top: 1rem;
}

.why__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why__heading::after {
  content: "";
  display: inline-block;
  height: 0.1rem;
  width: 30%;
  background-color: black;
  margin: 1rem 0rem 2rem 0rem;
}

.why__paragaph {
  margin-top: 1rem;
}

.details {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(219, 37, 37, 0.8)), to(rgba(255, 97, 97, 0.8))), url("../Images/contact-background-photo.png");
  background-image: linear-gradient(rgba(219, 37, 37, 0.8), rgba(255, 97, 97, 0.8)), url("../Images/contact-background-photo.png");
  background-position: center;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60rem;
}

.details__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.details__info:not(:last-child) {
  margin-bottom: 4rem;
}

.details__info--icon {
  font-size: 5rem;
  color: white;
  margin-bottom: 1rem;
}

.form {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}

@media (max-width: 37.5em) {
  .form {
    margin-top: 2rem;
  }
}

.form__details {
  padding: 1rem 0rem;
  margin-bottom: 1.5rem;
}

.form__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__detail:not(:last-child) {
  margin-bottom: 2rem;
}

.form__detail--label {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 2rem;
}

@media (max-width: 56.25em) {
  .form__detail--label {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
}

.form__detail--input {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 65%;
          flex: 0 0 65%;
  height: 5rem;
  font-size: 1.8rem;
  border: none;
  border-radius: 1rem;
  -webkit-box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.3);
          box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.3);
}

@media (max-width: 56.25em) {
  .form__detail--input {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 65%;
            flex: 0 0 65%;
  }
}

@media (max-width: 37.5em) {
  .form__detail--input {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }
}

.form__detail--input:focus {
  outline: transparent;
}

.form__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__message--input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.8rem;
  border: none;
  background-color: white;
  -webkit-box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.3);
          box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  padding: 0.5rem;
}

@media (max-width: 56.25em) {
  .form__message--input {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
  }
}

@media (max-width: 37.5em) {
  .form__message--input {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.form__message--input:focus {
  outline: transparent;
}

.form__message--input::-webkit-input-placeholder {
  font-family: Arial, Helvetica, sans-serif;
}

.form__message--input:-ms-input-placeholder {
  font-family: Arial, Helvetica, sans-serif;
}

.form__message--input::-ms-input-placeholder {
  font-family: Arial, Helvetica, sans-serif;
}

.form__message--input::placeholder {
  font-family: Arial, Helvetica, sans-serif;
}

.form__button {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 37.5em) {
  .form__button {
    margin-top: 4rem;
  }
}

.form__submit {
  height: 6rem;
  width: 20rem;
  font-size: 2rem;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #db2525;
  border: none;
  border-radius: 1rem;
  color: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.3);
          box-shadow: 0rem 1rem 3rem rgba(0, 0, 0, 0.3);
}

.form__submit:hover {
  background-color: #ff6161;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.section-footer {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#db2525), to(#ff6161));
  background-image: linear-gradient(to bottom right, #db2525, #ff6161);
  padding: 1rem;
}

.links {
  padding: 2rem;
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 37.5em) {
  .links {
    height: 10rem;
    margin-top: 3rem;
  }
}

.links__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 37.5em) {
  .links__list {
    display: block;
  }
}

.links__item {
  text-align: center;
}

.links__item:not(:last-of-type) {
  margin-right: 2.5rem;
}

@media (max-width: 37.5em) {
  .links__item:not(:last-of-type) {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

.links__link:link, .links__link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: white;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.links__link:hover, .links__link:active {
  color: rgba(255, 255, 255, 0.5);
}

.socials {
  padding: 2rem;
  height: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 37.5em) {
  .socials {
    height: 10rem;
  }
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.socials__item:not(:last-of-type) {
  margin-right: 4rem;
}

.socials__icon {
  height: 3.5rem;
  width: 3.5rem;
  fill: white;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}

#facebook:hover,
#facebook:active {
  fill: #4267b2;
}

#instagram:hover,
#instagram:active {
  fill: #e1306c;
}

#twitter:hover,
#twitter:active {
  fill: #1da1f2;
}

#google:hover,
#google:active {
  fill: #f4a000;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.col-1-of-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc((100% - 6rem) / 2);
          flex: 0 0 calc((100% - 6rem) / 2);
}

.col-1-of-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc((100% - (2 * 6rem)) / 3);
          flex: 0 0 calc((100% - (2 * 6rem)) / 3);
}

.col-2-of-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(2 * ((100% - (2 * 6rem)) / 3) + 6rem);
          flex: 0 0 calc(2 * ((100% - (2 * 6rem)) / 3) + 6rem);
}

.col-1-of-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc((100% - (3 * 6rem)) / 4);
          flex: 0 0 calc((100% - (3 * 6rem)) / 4);
}

.col-2-of-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(2 * ((100% - (3 * 6rem)) / 4) + 6rem);
          flex: 0 0 calc(2 * ((100% - (3 * 6rem)) / 4) + 6rem);
}

.col-3-of-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc( 3 * ((100% - (3 * 6rem)) / 4) + (2 * 6rem));
          flex: 0 0 calc( 3 * ((100% - (3 * 6rem)) / 4) + (2 * 6rem));
}

.col-1-of-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc((100% - (6 * 6rem)) / 7);
          flex: 0 0 calc((100% - (6 * 6rem)) / 7);
}

.col-3-of-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc( 3 * ((100% - (6 * 6rem)) / 7) + (2 * 6rem));
          flex: 0 0 calc( 3 * ((100% - (6 * 6rem)) / 7) + (2 * 6rem));
}

.col-4-of-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc( 4 * ((100% - (6 * 6rem)) / 7) + (3 * 6rem));
          flex: 0 0 calc( 4 * ((100% - (6 * 6rem)) / 7) + (3 * 6rem));
}

.col-5-of-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc( 5 * ((100% - (6 * 6rem)) / 7) + (4 * 6rem));
          flex: 0 0 calc( 5 * ((100% - (6 * 6rem)) / 7) + (4 * 6rem));
}

.hero {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(rgba(219, 37, 37, 0.9))), url("../Images/Hero-background-image.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(219, 37, 37, 0.9)), url("../Images/Hero-background-image.png");
  background-size: cover;
  height: 90rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__sub-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

@media (max-width: 75em) {
  .hero__sub-title {
    width: 80%;
  }
}

.hero__sub-title::after {
  content: "";
  height: 0.2rem;
  width: 30%;
  background-color: white;
  margin-top: 4rem;
  -webkit-animation: 0.8s 0s expandElement;
          animation: 0.8s 0s expandElement;
}

.hero-cta {
  display: inline-block;
}

.journey-image__img {
  height: 100%;
  width: 100%;
}

@media (max-width: 56.25em) {
  .journey-image__img {
    display: none;
  }
}

.solutions-heading {
  height: 8rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#db2525), to(#ff6161));
  background-image: linear-gradient(to right, #db2525, #ff6161);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.solutions-row {
  height: 6rem;
  background-color: white;
  border-bottom: 0.1rem solid #3b3b3b;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 1rem;
}

.heading__text {
  font-size: 2rem;
  text-align: center;
  line-height: 2.7rem;
  color: white;
}

@media (max-width: 37.5em) {
  .heading__text {
    font-size: 1.6rem;
  }
}

.section-why {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(219, 37, 37, 0.1)));
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.1), rgba(219, 37, 37, 0.1));
}

.why {
  padding: 1rem;
}

.why__main-text {
  text-align: center;
}

.why__chart {
  padding: 1rem;
  padding-bottom: 4rem;
}
/*# sourceMappingURL=main.css.map */