.navigation {
  width: 100%;

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__item {
    text-align: center;
  }

  &__link:link,
  &__link:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 3rem;
    text-transform: uppercase;
    color: black;
    letter-spacing: 0.15rem;
    transition: all 0.5s;
  }

  &__link:hover,
  &__link:active {
    color: $color-main-red;
    transform: translateY(-0.2rem);
  }

  &__logo {
    height: 10rem;
    width: 10rem;
  }

  &::after {
    content: "";
    display: block;
    height: 0.2rem;
    background-color: black;
    color: black;
    width: 100%;
  }
}
