.primary__title {
  font-size: 12rem;
  color: white;
  font-weight: 400;
  text-align: center;
}

.secondary__title {
  font-size: 4rem;
  text-transform: uppercase;
}

.tertiary__title {
  font-size: 2.2rem;
  text-transform: uppercase;
}

.main-text {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  line-height: 2.8rem;
  font-weight: 600;
  color: black;
}

.about__container--text {
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 400;
  color: rgb(59, 59, 59);
  text-align: center;
  border-radius: 0.5rem;
  padding: 2rem;
  box-shadow: 0rem 1rem 3rem rgba(black, 0.1);
}
