// LAYOUT
.center {
  display: flex;
  justify-content: center;
}
.center-text {
  text-align: center;
}
.flex-column {
  flex-direction: column;
}
.display-inline-block {
  display: inline-block;
}

// BACKGROUNDS / COLOURS
.text-white {
  color: white;
}

// MARGINS
.margin-top-large {
  margin-top: 8rem;
}
.margin-top-med {
  margin-top: 6rem;
}
.margin-top-small {
  margin-top: 4rem;
}
.margin-top-very-small {
  margin-top: 2rem;
}

.margin-bottom-large {
  margin-bottom: 8rem;
}
.margin-bottom-med {
  margin-bottom: 6rem;
}
.margin-bottom-small {
  margin-bottom: 4rem;
}
