// LAYOUT
.center {
  display: flex;
  justify-content: center;
}
.align {
  align-items: center;
}
.center-text {
  text-align: center;
}
.flex-column {
  flex-direction: column;
}
.display-inline-block {
  display: inline-block;
}
.justify-text {
  text-align: justify;
}
.position-relative {
  position: relative;
}
.height-auto {
  overflow: none;
}

// BACKGROUNDS / COLOURS
.text-white {
  color: white;
}

// MARGINS
.margin-top-large {
  margin-top: 8rem;
}
.margin-top-med {
  margin-top: 6rem;
}
.margin-top-small {
  margin-top: 4rem;
}
.margin-top-very-small {
  margin-top: 2rem;
}

.margin-bottom-large {
  margin-bottom: 8rem;
}
.margin-bottom-med {
  margin-bottom: 6rem;
}
.margin-bottom-small {
  margin-bottom: 4rem;
}
.margin-bottom-very-small {
  margin-bottom: 2rem;
}

// PADDINGS
.padding-top-large {
  padding-top: 8rem;
}
.padding-top-med {
  padding-top: 6rem;
}
.padding-top-small {
  padding-top: 4rem;
}

.padding-bottom-large {
  padding-bottom: 8rem;
}
.padding-bottom-med {
  padding-bottom: 6rem;
}
.padding-bottom-small {
  padding-bottom: 4rem;
}

// PSEUDO ELEMENTS
.line::after {
  content: "";
  display: inline-block;
  background-color: $color-text-grey;
  height: 15rem;
  width: 0.1rem;
}
