.hero {
  background-image: linear-gradient(
      rgba(black, 0.9),
      rgba($color-main-red, 0.9)
    ),
    url("../../Images/Hero-background-image.png");

  background-size: cover;
  height: 90rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
  }

  &__sub-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;

    @include respond(tab-land) {
      width: 80%;
    }

    &::after {
      content: "";
      height: 0.2rem;
      width: 30%;
      background-color: white;
      margin-top: 4rem;

      animation: 0.8s 0s expandElement;
    }
  }

  &-cta {
    display: inline-block;
  }
}
